# Binários e objetos
bin/
obj/

# Pacotes
/packages/

# Configurações de usuário
*.user
*.suo

# Logs
*.log

# Temporários
*.tmp
*.bak
*.swp

# Pastas do Visual Studio
.vs/

# Configurações sensíveis
appsettings.json
secrets.json

# Arquivos de build
*.exe
*.dll
*.pdb
*.resx
